<header id="header">
    <h1><a href="{{ base_url == '' ? '/' : base_url }}">{{ site.title }}</a></h1>
    <nav>
        <ul>
            <li><a href="#footer" class="icon fa-info-circle">{{ theme_config.about_label }}</a></li>
        </ul>
    </nav>
</header>
