{% extends 'partials/base.html.twig' %}

{% block content %}
<div id="wrapper">
    <div id="page">
        <h1>{{ page.title|raw }}</h1>
        {{ page.content|raw }}
    </div>
</div>
{% endblock %}
